"*":
  "activate-power-mode": {}
  core:
    projectHome: "/Users/jeffmattfield/projects"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    preferredLineLength: 200
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "2daf7dbe-0835-275e-a0a6-7628e162c49d"
  welcome:
    showOnStartup: false
".html.jsp.text":
  editor:
    preferredLineLength: 200
".java-properties.source":
  editor:
    preferredLineLength: 200
".java.source":
  editor:
    preferredLineLength: 200
".junit-test-report.text":
  editor:
    preferredLineLength: 200
